# Build results
**/bin/
**/obj/

# Visual Studio cache files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# Others
*.dbmdl
*.log
*.vsidx
*.v7.bin
*.dtbcache.v2
*.futdcache.v2
*.DS_Store
Thumbs.db
