# =========================
# BUILD
# =========================
**/bin/
**/obj/

# =========================
# VISUAL STUDIO
# =========================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================
# PUBLISH PROFILES
# =========================
**/Properties/PublishProfiles/*.pubxml
**/Properties/PublishProfiles/*.pubxml.user

# =========================
# RIDER / JETBRAINS
# =========================
.idea/

# =========================
# CACHE / TEMP
# =========================
*.dbmdl
*.log
*.vsidx
*.v7.bin
*.dtbcache.v2
*.futdcache.v2

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db